.footer-main {
    background-color: map-deep-get($colors, "blue", "lightest");
    color: map-deep-get($colors, "blue", "dark");
    padding: 80px 0;
    position: relative;
    z-index: 4;

    &__title {
        margin-top: rem-calc(50);

        @include media-breakpoint-up(md) {
          margin-top: 0;
        }
    }

    &__logo {
        max-width: rem-calc(260);
        display: inline-block;
    }

    &__menu {
        list-style-type: none;
        padding: 0;
        margin: rem-calc(10) 0 0 0;
    }

    &__menu-link {
        color: map-deep-get($colors, "blue", "dark");

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}