.hero {
    color: map-deep-get($colors, "white", "default");
    position: relative;
    height: rem-calc(700);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    width: 200%;
    margin-left: -50%;
    overflow: hidden;

    @include media-breakpoint-up(sm) {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba(map-deep-get($colors, "black", "default"), .4);
        width: 100%;
        z-index: 1;
    }

    &__bg {
        background-size: cover;
        background-position: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50%;
        margin: 0 auto;
    }

    &__content {
        position: relative;
        z-index: 2;
        margin-top: rem-calc(30);

        @include media-breakpoint-up(md) {
            margin-top: rem-calc(100);
        }
    }

    &__title {
        color: map-deep-get($colors, "white", "default");
    }

    &__text {
        @include media-breakpoint-up(sm) {
            width: 80%;
        }

        // Rich text editor
        /* stylelint-disable */
        p {
            font-weight: 500;
            color: map-deep-get($colors, "white", "default");
            line-height: 1.6;
        }
        /* stylelint-enable */
    }

    &__buttons {
        margin-top: rem-calc(15);
    }

    &__button {
        margin-right: rem-calc(10);
    }
}