.testimonial {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    justify-content: center;
    background-color: map-deep-get($colors, "white", "default");
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    transition: $transition-default;
    padding: 25px;
    margin: 0 rem-calc(10) rem-calc(30);
    width: 100%;

    &__name {
        color: map-deep-get($colors, "blue", "default");
        width: 100%;
        text-align: center;
    }

    &__source {
        color: map-deep-get($colors, "blue", "dark");
    }

    &__text {
        margin-top: rem-calc(30);
        font-size: rem-calc(14);
        font-style: italic;
    }
}