.text {
    margin-top: rem-calc(-100);
    margin-bottom: rem-calc(80);
    position: relative;
    z-index: 2;

    &__content-wrapper {
        border: 1px solid map-deep-get($colors, "gray", "lighter");
        background-color: map-deep-get($colors, "white", "default");
        padding: 25px;

        /* stylelint-disable */

        h1, h2, h3, h4, h5, h6 {
            margin-top: rem-calc(30);
            color: map-deep-get($colors, "blue", "dark");
        }

        /* stylelint-enable */

        @include media-breakpoint-up(sm) {
            padding: 50px;
        }
    }

    &__intro {
        font-size: rem-calc(21);

        /* stylelint-disable */
        p {
            line-height: 1.7;
        }
        /* stylelint-enable */
    }

    &__content {
        margin-top: rem-calc(30);
    }

    &__cta {
        background-color: map-deep-get($colors, "white", "default");
        border-left: 1px solid map-deep-get($colors, "gray", "lighter");
        border-right: 1px solid map-deep-get($colors, "gray", "lighter");
        border-bottom: 1px solid map-deep-get($colors, "gray", "lighter");
        overflow: hidden;
        padding: 25px;

        @include media-breakpoint-up(sm) {
            padding: 50px;
        }
    }

    &__cta-title {
        margin-top: 0;
        color: map-deep-get($colors, "blue", "default");
    }

    &__cta-text {
        font-family: $font-heading;

        @include media-breakpoint-up(md) {
            width: 80%;
        }
    }
}
