.usps {
    margin: rem-calc(40) 0;
    $usps: &;

    @include media-breakpoint-up(md) {
        margin-top: rem-calc(80);
    }

    &__title {
        color: map-deep-get($colors, "blue", "default");
        text-align: center;
    }

    &__text {
        text-align: center;
        line-height: 1.6;
        margin: 0 auto;

        @include media-breakpoint-up(lg) {
            width: 75%;
        }
    }

    &__list {
        margin-top: rem-calc(30);

        @include media-breakpoint-up(md) {
            margin-top: rem-calc(60);
        }
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        color: map-deep-get($colors, "white", "default");
        padding: 25px;
        border-radius: $border-radius;
        position: relative;
        overflow: hidden;
        min-height: rem-calc(250);
        margin-bottom: rem-calc(30);

        @include media-breakpoint-up(lg) {
            height: 100%;
        }

        &::before {
            content: "";
            background-color: map-deep-get($colors, "blue", "darker");
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            opacity: .75;
        }

        &:hover,
        &:focus {
            #{$usps}__block-bg {
                background-size: 110%;
            }
        }
    }

    &__block-content {
        position: relative;
        z-index: 3;
    }

    &__block-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: 100%;
        background-position: center;
        transition: $transition-default;
    }

    &__block-title {
        text-align: center;
    }

    &__block-text {
        color: map-deep-get($colors, "white", "default");
        margin-bottom: 0;
        text-align: center;
    }
}
