.button {
    background: map-deep-get($colors, "blue", "default");
    color: map-deep-get($colors, "white", "default");
    border: 1px solid map-deep-get($colors, "blue", "default");
    padding: 12px 25px;
    border-radius: $border-radius-small;
    transition: $transition-default;
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;

    svg {
        height: rem-calc(20);
        width: rem-calc(20);
        fill: map-deep-get($colors, "white", "default");
        margin-left: rem-calc(5);
    }

    &:hover,
    &:focus {
        background: map-deep-get($colors, "blue", "light");
        border-color: map-deep-get($colors, "blue", "light");
    }

    &--white {
        background: map-deep-get($colors, "white", "default");
        color: map-deep-get($colors, "blue", "default");

        &:hover,
        &:focus {
            background: map-deep-get($colors, "blue", "lightest");
            border-color: map-deep-get($colors, "blue", "lightest");
        }
    }

    &--red-ghost {
        border-color: map-deep-get($colors, "white", "default");
        background-color: map-deep-get($colors, "white", "default");
        color: map-deep-get($colors, "red", "default");

        &:hover,
        &:focus {
            background-color: map-deep-get($colors, "red", "default");
            border-color: map-deep-get($colors, "white", "default");
            color: map-deep-get($colors, "white", "default");
        }
    }
}
