.groups {
    position: relative;
    z-index: 2;
    margin-bottom: rem-calc(40);
    margin-top: rem-calc(-30);
    $groups: &;

    @include media-breakpoint-up(lg) {
        margin-top: rem-calc(-60);
    }

    &__item {
        background: map-deep-get($colors, "white", "default");
        color: map-deep-get($colors, "blue", "dark");
        transition: $transition-default;
        display: block;
        padding: 25px 35px 25px 25px;
        margin-bottom: rem-calc(30);
        border-radius: $border-radius;

        @include media-breakpoint-up(lg) {
            height: 100%;
        }

        &--rood {
            background-color: map-deep-get($colors, "red", "default");

            &:hover,
            &:focus {
                background-color: map-deep-get($colors, "red", "light");
            }
        }

        &--grijs {
            background-color: map-deep-get($colors, "gray", "default");

            &:hover,
            &:focus {
                background-color: map-deep-get($colors, "gray", "light");
            }
        }

        &--groen {
            background-color: map-deep-get($colors, "green", "default");

            &:hover,
            &:focus {
                background-color: map-deep-get($colors, "green", "light");
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
        color: map-deep-get($colors, "white", "default");
    }

    &__text {
        font-size: rem-calc(14);
        color: map-deep-get($colors, "white", "default");
    }

    &__read-more {
        color: map-deep-get($colors, "white", "default");
    }

    &__icon {
        width: rem-calc(30);
        margin-right: rem-calc(15);
    }
}