.groups {
    position: relative;
    z-index: 2;
    margin-bottom: rem-calc(40);
    margin-top: rem-calc(-30);
    $groups: &;

    &__item {
        background: map-deep-get($colors, "white", "default");
        color: map-deep-get($colors, "blue", "dark");
        transition: $transition-default;
        display: block;
        box-shadow: $box-shadow;
        padding: 25px 35px 25px 25px;
        margin-bottom: rem-calc(30);
        border-radius: $border-radius;

        @include media-breakpoint-up(lg) {
            height: 100%;
        }

        &--rood {
            #{$groups}__title {
                color: map-deep-get($colors, "red", "default");
            }

            &:hover,
            &:focus {
                background: map-deep-get($colors, "red", "lightest");
            }
        }

        &--grijs {
            #{$groups}__title {
                color: map-deep-get($colors, "gray", "default");
            }

            &:hover,
            &:focus {
                background: map-deep-get($colors, "gray", "lightest");
            }
        }

        &--groen {
            #{$groups}__title {
                color: map-deep-get($colors, "green", "default");
            }

            &:hover,
            &:focus {
                background: map-deep-get($colors, "green", "lightest");
            }
        }
    }

    &__title {
        display: flex;
        align-items: center;
    }

    &__text {
        font-size: rem-calc(14);
    }

    &__icon {
        width: rem-calc(30);
        margin-right: rem-calc(15);
    }
}