.header {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;

    &__top {
        background-color: map-deep-get($colors, "blue", "default");
        height: rem-calc(50);
        color: map-deep-get($colors, "white", "default");
        display: flex;
        align-items: center;
    }

    &__top-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__top-contact-link {
        color: map-deep-get($colors, "white", "default");
        padding: 5px 20px;

        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &:first-of-type {
            border-right: 1px dashed map-deep-get($colors, "white", "default");
        }
    }

    &__main {
        padding: 21px 0;
        background-image: url("/public/images/header.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    &__main-content {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        margin-top: rem-calc(20);
    }

    &__list-item {
        margin: 0 rem-calc(10);
    }

    &__list-link {
        color: map-deep-get($colors, "blue", "dark");
        font-size: rem-calc(14);
        font-weight: 300;
    }

    &__logo {
        width: rem-calc(300);
        display: inline-block;
    }
}
