<div class="blue-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="h2 h2--lined blue-section__title">{{ entry.testimonialsTitle }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="blue-section__testimonials">
                    {% set testimonials = entry.testimonials.all() %}
                    {% for testimonial in testimonials %}
                        {% include 'partials/testimonial.html.twig' with { 'testimonial': testimonial } %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/cta.html.twig' %}

</div>