<div class="container">
    <div class="row">
        <div class="col">
            <div class="cta">
                <div class="cta__left-content">
                    <h3 class="cta__title">{{ entry.ctaTitle }}</h3>
                    <p class="cta__text">{{ entry.ctaText }}</p>
                </div>
                <div class="cta__right-content">
                    <a href="{{ entry.ctaButtonLink }}" class="button button--white">{{ entry.ctaButtonTitle }}</a>
                </div>
            </div>
        </div>
    </div>
</div>