<div class="page-title">
    {% if (entry.image) %}
        <div class="page-title__bg b-lazy" data-src="{{ entry.image.one().getUrl('heroImageLarge') }}"></div>
    {% endif %}

    <div class="page-title__content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col col-xs-24 col-md-18">
                    <h1 class="page-title__title">{{ entry.title }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>