<div class="testimonial">
    <h3 class="testimonial__name">{{ testimonial.mainName }}</h3>
    <span class="testimonial__source">{{ testimonial.subTitle }}</span>

    <p class="testimonial__text">
        {{ testimonial.text }}
    </p>
</div>