<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-24 col-md-18 col-md-12">
            <section class="text">
                <div class="text__content-wrapper">
                    <div class="text__intro">{{ entry.intro }}</div>
                    <div class="text__content">{{ entry.text }}</div>
                </div>

                <div class="text__cta">
                    <h2 class="text__cta-title">Neem contact op</h2>
                </div>
            </section>
        </div>
    </div>
</div>