input, select {
    height: rem-calc(40);
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid map-deep-get($colors, "blue", "default");
    padding: 0 rem-calc(10);
    width: 100%;
    transition: $transition-default;
    font-family: $font-heading;

    &:focus {
        outline: none;
        border: 1px solid map-deep-get($colors, "blue", "default");
    }
}

textarea {
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid map-deep-get($colors, "blue", "default");
    padding: 10px;
    resize: vertical;
    min-height: rem-calc(100);
    width: 100%;
    transition: border .3s ease-in-out;
    font-family: $font-heading;

    &:focus {
        outline: none;
        border: 1px solid map-deep-get($colors, "blue", "default");
    }
}

select {
    background: map-deep-get($colors, "white", "default");
    appearance: none;

    &::-ms-expand {
        display: none;
    }
}